@import "main.scss";

#cartHeader{
    width:100%;
    height:40px;
    @include flexBox;
    @include flex-direction('row');
    text-align: center;
    color:#727272;
    border-bottom: 1px solid #e6e6e6;
    .iconfont{
        width:60px;
        height:40px;
        line-height:40px ;
    }
    #cartNews{
        margin-right:10px;
    }
    #cartTittle{
        @include flex(1);
        line-height:40px ;
        
    }
}

#cartContent{
    width:100%;
    height:auto;
    #cartMain{
        width:90%;
        height:auto;
        margin:10px auto;
        li{
            width:100%;
            height:150px;
            margin-bottom:10px;
            margin-top:20px;
            border-top:1px solid #999;
            border-bottom:1px solid #999;
            position: relative;
            img{
                margin-top:10px;
                margin-right:10px;
                width:20%;
                height:100px;
                float: left;
            }
            p{  margin-top:10px;
                 float: left;
                 width:70%;
                 font:15px/20px '' ;
            }
            ol{
                 width:70%;
                 float: right;
                 span{
                       font:12px/15px '' ;
                       
                       margin-right: 10px;
                 }
               
            }
            h1{
                font:20px/30px '' ;
            }
            button{
                width:80px;
                height:30px;
              
                position: absolute;
                bottom:10px;
                right:10px;
            }
        }
        
    }
    h2{
            min-width:120px;
            float:right;
            margin-right: 20px;
        }
        #sum{
             float:right;
            margin-right: 20px;
        }
}



